<!doctype html>
<html>
<head>
	<title>CS602</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<script src="/javascripts/clickActions.js" 
		type="text/javascript"></script>
</head>
<body>
<header>
	<img src="/images/bu-logo.gif" alt="logo">
	<p>
	<center><b>{{title}}</b></center>
</header>

	{{{body}}}

</body>
</html>


